
/*////////////////////////////////////////////////////////
// Minor Programmeren Finalproject Musicvisualization 	// 
//                                                    	//
// Name:  Noam Rubin                                  	//
// Studentnumber: 10800565                            	//
//                                                    	//
// 27 - 06 - 2018                                     	// 
//                                                   	// 
// This script is responsible for the styling of     	//
// the music visualization. For a better positioning,	//                                         //
// CSS grid is used.									//                                           
//                                                    	//
////////////////////////////////////////////////////////*/


html, body {
	height: 100%;
	width: 100%

	font-family: verdana;
}

/*wrapper properties*/
.wrapper{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 0.5em;
	justify-items: stretch;
	align-items: stretch;
	width: 100%;
	height: 100%;
	background-image: url("background.jpg");
}

/*background color*/
.wrapper >div {
	/*background: #eee;*/
	/*padding: 1em;*/
}

/*first box with info*/
.informationbox {
	grid-column: 1/3; 
	grid-row: 1/2;
	color: #BEBEBE;
	margin-top: 10px;
}

p {
	color: #D8D8D8;
	font-size: 1em;
}

/*frequency barchart*/
.svg-barchart {
	display:grid;
	grid-column: 1/2;
	grid-row: 2/6;
	align-items: start;
}

/*mp3 player*/
#audio-box {
	grid-column: 2/3;
	grid-row: 2;
}

.image {
	content: url("fire2.jpg"));
}

/*circle visualization*/
.svgShaper {
	grid-column: 3/6;
	grid-row: 1/6;
	align-items: stretch;
	justify-content: stretch;
	/*border: 1px solid #333;*/
}

.svg { 
	width: 100%;
 	height: 100%;
}

#shape-svg {
	display: grid;
	position: absolute;
	margin-left: 500px;
	margin-bottom: 350px;
	align-items: start;
}

#shape-svg2 {
	display: grid;
	position: absolute;
	margin-left: 400px;
	margin-top: 230px;
	align-items: end;
}

/*linegraph*/
#line-graph {
	position: absolute;
	margin-left: 100px;
	margin-top: 100px;
	/*background-color:pink;*/
}

path {
		stroke: steelblue;
		stroke-width: 4;
		fill: none;
	}

.line {
	stroke: steelblue;
}

/*uploadfile button*/
.uploadfile {
	display:grid;
	grid-column: 2/3;
	grid-row: 3/4;
	align-items: center;
}

#custom-button {
		padding: 10px;
		color: white;
		background-color: #7D26CD;
		border: 1px solid #b16aa7;
		border-color:white;
		border-radius: 5px;
		cursor: pointer;
    	text-align:center;
    	margin: center;
    	font-family: Verdana;
}

#custom-text {
		position: absolute;
		margin-left: 9px;
		/*margin-top: 10px;*/
		font-family:Verdana;
		color: #aaa;
		/*margin: auto;*/
		font-size: 13px;
}


/*synthesizer*/
.synthesizer {
	/*display: grid*/
	grid-column: 2/3;
	grid-row: 4;
	/*box-shadow: 10px 10px 5px grey;*/
}

/*sliders*/
.sliderlabel {
	display: grid;
	place-items: start center;
	font-weight:bolder;
	letter-spacing: 3px;
	color: #C0C0C0;
	font-size: 18px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #303030;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*extra box*/
.box6 {
	grid-column: 6;
	grid-row: 5/6;
}

#lifechanger {
	display: grid;
	/*color: #D8D8D8;*/
	font-size: 3em;
	color: transparent;
	border-color: #0000ff;
	font-weight: bold;
	text-align:justify;
	letter-spacing: 4px;
}


/*resetbutton*/
.button {
    position: absolute;
    /*margin-right: 20px; */
    background-color: #4B0082;
    border: 1px solid #b16aa7;
    border-color:white;
	border-radius: 5px;
    font-size: 18px;
    color: #f7f7f7;
    padding: 3px;
    width: 80px;
    margin-left: 110px;
    margin-top: 20px;
    text-align: center;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: yellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}