/*////////////////////////////////////////////////////////
// Minor Programmeren Finalproject Musicvisualization 	// 
//                                                    	//
// Name:  Noam Rubin                                  	//
// Studentnumber: 10800565                            	//
//                                                    	//
// 27 - 06 - 2018                                     	// 
//                                                   	// 
// This script is responsible for the styling of     	//
// the music visualization. For a better positioning,	//                                         //
// CSS grid is used.									//                                           
//                                                    	//
////////////////////////////////////////////////////////*/

/* html,
body {
  height: 100%;
  width: 100%;

  font-family: verdana;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  height: 100vh;
} */

.section {
  display: flex;
}

.synthesizer {
  background: blue;
  padding: 0.5rem;
  margin: 0.5rem;
  border: black 0.1rem solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 20rem;
}

.button {
  padding: 0.6rem;
  margin: 1rem;
}

.sound {
  display: flex;
  justify-content: space-around;
  background: red;
  margin: 0.5rem;
}

.uploadfile {
  background: red;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: black 0.1rem solid;
}

#custom-button {
  padding: 0.4rem;
  border-radius: 5%;
  width: 20rem;
  border: black 0.2rem solid;
}
#custom-text {
  padding: 0.4rem;
}

.sliderlabel {
  padding: 1rem;
}

#audio-box {
  background: lightsalmon;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .information {
  background: green;
} */

.svgLine {
  background: green;
  margin: 0.5rem;
}

#barchartSpot {
  background: pink;
  margin: 0.5rem;
  width: 20rem;
}

.svg-barchart {
  background: coral;
  padding: 0.5rem;
  margin: 0.5rem;
}

.svgShaper {
  background: yellow;
  margin: 0.5rem;
  padding: 0.5rem;
}
