* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "incisedblackwidenormal";
}

/* Smartphones */
@media only screen and (max-width: 500px) {
  body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
  }

  .container {
    /* display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border: blue; */
  }

  .bar-chart {
    width: 80%;
    height: 100%;
    position: fixed;
  }

  /* circle chart */
  .circle-chart {
    /* background: green; */
    /* position: fixed; */
    /* width: 100%; */
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
  }

  #shape-svg {
    width: 100%;
    height: 100%;
  }

  .svg-content {
    display: inline-block;
    top: 0;
    left: 0;
  }

  .configurations {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    height: 14rem;
    padding: 1rem;
    margin-bottom: 5rem;
  }

  /* synth */
  .synthesizer {
    display: flex;
    flex-direction: column;
    border: rgb(161, 148, 148) 0.1rem solid;
    align-items: center;
    width: 9rem;
    height: 10rem;
    border-radius: 5%;
    font-size: 1rem;
    margin: 1rem;
  }

  .sliderlabel {
    color: yellow;
    text-align: center;
  }

  .slider {
    width: 70%;
    border-radius: 2px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .upload-file {
    /* padding: 2rem; */
    /* margin-right: 5rem; */
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
  }

  #upload-btn {
    color: black;
    /* padding: 1rem; */
  }
  /* mp3 player */
  #audio-box {
    width: 50%;
    display: flex;
    /* margin: 1rem; */
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    justify-content: center;
    /* margin: 1rem; */
  }

  /* smartphone */
  /* start button */
  #start-btn {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Yellowtail", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #custom-button {
    padding: 0.3rem;
    border-radius: 15%;
    border: white 0.1rem solid;
    color: #444853;
    font-size: 0.8rem;
  }

  #custom-text {
    color: yellow;
  }

  #custom-button:hover {
    background: #444853;
    color: white;
  }

  .svg-barchart {
    height: 100%;
    width: 100%;
  }
}

/* Normal and big screens */
@media (min-width: 769px) and (max-width: 2200px) {
  body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .bar-chart {
    width: 60%;
    height: 100%;
  }

  /* circle chart */
  .circle-chart {
    width: 60%;
    height: 100%;
  }

  #shape-svg {
    background: purple;
  }

  .svg-content {
    display: inline-block;
    top: 0;
    left: 0;
  }

  .configurations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 3rem;
    margin-right: 7rem;
  }

  /* synth */
  .synthesizer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 12rem;
    height: 20rem;
    padding: 1rem;
    color: rgb(236, 212, 175);
    font-size: 1.5rem;
  }

  .sliderlabel {
    color: rgba(235, 247, 132, 0.945);
    text-align: center;
    font-size: 2rem;
  }

  .slider {
    width: 80%;
    border-radius: 1rem;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  /* sliders */
  input[type="range"] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgb(165, 138, 165);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: rgb(92, 3, 92);
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: purple;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: purple;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-fill-upper {
    background: purple;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: purple;
  }
  .upload-file {
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #custom-text {
    color: rgba(235, 247, 132, 0.945);
  }

  #upload-btn {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: rgb(233, 176, 233);
  }

  /* mp3 player */
  #audio-box {
    display: block;
    width: 80%;
    /* margin-right: 6rem; */
    padding: 1rem;
    /* height: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  #play-btn {
    /* width: 100px; */
    padding: 1rem;
    font-size: 2rem;
    height: 20%;
    align-self: center;
    border-radius: 1rem;
    background-color: rgb(233, 176, 233);
  }

  /* start button */
  #start-btn {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Yellowtail", cursive;
    display: flex;
    color: black;
    background-color: rgb(233, 176, 233);
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    /* line-height: 100%; */
  }

  #custom-button {
    /* background-color: pink; */
    padding: 0.5rem;
    /* margin-top: 6rem; */
    margin: 1rem;
    border-radius: 18%;
    /* width: 40em; */
    /* height: 5rem; */
    border: white 0.1rem solid;
    color: #444853;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: black 0.06rem solid; */
  }

  #custom-button:hover {
    background: #444853;
    color: white;
  }

  .svg-barchart {
    /* background: white; */
    height: 100%;
    width: 100%;
    /* padding: 0.5rem; */
    /* margin: 0.5rem; */
  }
  /* .svgShaper {
    width: 100%;
    height: 100%;
  } */
}
